<div>
  <a href="{{ event.link }}"><img src="/images/events/{{ event.image }}.png" alt="Event Image" class="eventImage"></a>
</div>


{%- if event_date >= today_date -%}
  <p><b>{{ event.date | date: "%b %d, %Y" }}, {{ event.location }}</b><p>
{%- endif -%}

{%- if today_date > event_date -%}
  <p><b>{{ event.date | date: "%b %d, %Y" }}, {{ event.location }}</b><p>
{%- endif -%}

<a href="{{ event.link }}"><p><b>{{ event.name }}</b><p></a>

<p>{{ event.description }}<p>

<br style="clear:both" />
<br>
