---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";


  .movie-posters {
    width: 100%;
    display: grid;
    columns: 200px 3;
    grid-template-columns: repeat(auto-fill, 250px);
    justify-content: center;
    padding: 0px;
  }

  // Home page css

  .home-page-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding: 30px;
    grid-gap: 20px;
  }

  .home-page-grid-item {
    text-align: center;
    overflow: hidden;
    background-color: #e8e9eb;

  }
