---
layout: base
---

<!-- The html code that formats each individual event is found under _includes/events_individual.html -->
<!-- This code loops through all the events found in _data/events.yml, and calls on events_individual.html to display them-->

<html>
  <body>
        {%- assign allEvents = site.data.events -%}
        {% assign today_date = 'now' | date: '%D' %}

        <br>
        <h2> Upcoming Events </h2>
        <br>

        {%- for event in allEvents -%}

          {% assign event_date = event.date | date: '%D' %}

          {% if event_date >= today_date %}

            {% include events_individual.html %}

          {%- endif -%}

        {%- endfor -%}


        <h2> Past Events </h2>

        {%- for event in allEvents -%}

          {% assign event_date = event.date | date: '%D' %}

          {% if today_date > event_date %}

              {% include events_individual.html %}

          {%- endif -%}

        {%- endfor -%}
  </body>
</html>
