---
layout: base
---

<html>
  <body>
        {%- assign allEvents = site.data.events -%}

        <br>
        <h2> Upcoming Events </h2>
        <br>

        {%- for event in allEvents -%}

          {% assign today_date = 'now' | date: '%s' %}
          {% assign event_date = event.date | date: '%s' %}

          {% if event_date > today_date %}

            {% include events_individual.html %}

          {%- endif -%}

        {%- endfor -%}


        <h2> Past Events </h2>
        {%- for event in allEvents -%}

          {% assign today_date = 'now' | date: '%s' %}
          {% assign event_date = event.date | date: '%s' %}

          {% if today_date > event_date %}

            {% include events_individual.html %}

          {%- endif -%}

        {%- endfor -%}
  </body>
</html>
