---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- assign allMovies = site.data.movies -%}

  <div class="home-page-grid-container">
  {%- for movie in allMovies -%}
    {%- if movie.movieID != null -%}
        <div class="home-page-grid-item">
          <a href="/Todor_Website/movies/{{ movie.movieID}}.html">
            <div class ="movie-posters">
              <img src="../images/movie_posters/{{ movie.movieID }}.jpg" alt="Girl in a jacket" class="home-page-movie-image">
            </div>
          </a>
        </div>
    {%- endif -%}
  {%- endfor -%}
</div>




</div>
