---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- assign allMovies = site.data.movies -%}

  <div class="home-page-grid-container">
  {%- for movie in allMovies -%}
    {%- if movie.movieID != null -%}
        <div class="home-page-grid-item">
          <a href="/movies/{{ movie.movieID}}.html">
            <!-- Something might need to be pre-pended here to make the links work -->
            <div class ="movie-posters">
              <img src="/images/movie_posters/{{ movie.movieID }}.png" alt="Movie Poster, Clickable link to Movie Page" class="home-page-movie-image" >
              <p class="home-page-movie-name">{{ movie.name }}</p>
            </div>
          </a>
        </div>
    {%- endif -%}
  {%- endfor -%}
</div>




</div>
