---
layout: base
---

<html>
  <body>
    <p>{{content}}<p>

      {%- assign allMovies = site.data.movies -%}

      {%- for movie in allMovies -%}
        {%- if movie.movieID == page.movieID -%}

          <!-- All movie relevnat information and formatting is printed here -->

          <p style="font-size: 40px"><b>{{movie.name}}</b><p>
          <p>{{movie.year}}<p>

            <div class="auto-resizable-iframe">
              <div>
                <iframe  src="https://www.youtube.com/embed/{{movie.url}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
                </iframe>
              </div>
            </div>
          <!-- <iframe src=https://www.youtube.com/embed/{{movie.url}} frameborder="0" allowfullscreen>
          </iframe> -->

          <br>
          <p>{{movie.description}}</p>


          {%- if movie.Awards != null -%}

          <center>
            <p style="font-size: 20px; margin-top:1.5cm;"><b>Film Festivals</b><p>
          </center>

            {%- for awardType in movie.Awards -%}

              <p><b>{{awardType[0]}}</b><p>

              {%- for award in awardType[1] -%}
                <p> &nbsp &nbsp {{award}} <p>
              {%- endfor -%}

            {%- endfor -%}
          {%- endif -%}


          <center>
            <p style="font-size: 20px; margin-top:1.5cm;"><b>Cast and Crew</b><p>
          </center>

          {%- if movie.directedBy != null -%}
            <p>Directed by: <i>{{movie.directedBy}}</i><p>
          {%- endif -%}

          {%- if movie.writtenBy != null -%}
            <p>Written by: <i>{{movie.writtenBy}}</i><p>
          {%- endif -%}

          {%- if movie.editedBy != null -%}
            <p>Edited by: <i>{{movie.shotBy}}</i><p>
          {%- endif -%}

          {%- if movie.shotBy != null -%}
            <p>Shot by: <i>{{movie.shotBy}}</i><p>
          {%- endif -%}

          {%- if movie.actors != null -%}
            <p>Starring: <i>{{movie.actors}}</i><p>
          {%- endif -%}

        {%- endif -%}
      {%- endfor -%}
  </body>
</html>
